$main-color: #FFFFFF;
$primary-color: #F7E1BC;
$secondary-color: #54372B;
$dark: #221518;


$main-bg: #221518;
$light-bg: #F7E1BC;
$mokko-bg: rgba(247, 225, 188, 0.3);

$main-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));