$main-fonts-color: #FFFFFF;
$secondary-fonts-color: #DABB9E;
$primary-color: #F7E1BC;
$secondary-color: #54372B;


$accent-color: #D66801;
$main-bg: #221518;
$light-bg: #F7E1BC;
$mokko-bg: rgba(247, 225, 188, 0.3);

$btn-fonts-color: #F8E4BE;

$main-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$bg-gradient: radial-gradient(114.24% 73.21% at 98.55% 92.63%, #3A1B1A 0%, rgba(124, 87, 60, 0) 100%),
    #7C573C;

//   margin
$typical-margin: 20px;
$title-margin: 44px;
$header-height: 60px;

$index: calc(1vw + 1vh);
$sl-overlay-background: rgba(80, 35, 16, 0.7);