.title {
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    background: linear-gradient(250.73deg, #E0A872 13.76%, #F8E4BE 49.91%, #FFF3E0 58.47%, #E0A872 95.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    //text-fill-color: transparent;
}