// ----- HERO -------

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    min-height: 20px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;

    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(.3125rem);

    @include tablet {
        min-height: $header-height;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-right: 20px;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    @include tablet {
        margin-right: 62px;
    }

    @include desktop {
        margin-right: 91px;
    }
}


.nav {
    display: none;

    @include desktop {
        display: flex;
    }
}

.nav__list {
    display: flex;
    gap: 30px;
}


.nav__link {
    position: relative;
    display: block;

    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    text-transform: capitalize;

    color: $main-fonts-color;
    @include transition();
    transition-property: color;

    &:focus,
    &:hover {
        text-shadow: 1px 1px 10px rgba(236, 118, 5, 0.9);
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: .125rem;
        background-color: #D4A373;
        border: none;
        outline: none;
        border-radius: 2px;
        transition: all 300ms ease-in-out;
    }
}

.nav__link.active::after,
.nav__link:hover::after {
    width: 100%;
    left: 0;
}


.connect__phone,
.header__connect {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__connect {
    display: none;

    @include tablet {
        display: flex;
        // flex-direction: column-reverse;
        align-items: baseline;
        justify-content: center;
        margin-left: auto;
        column-gap: 15px;
    }

    @include desktop {
        flex-direction: row;
    }
}

.connect__phone {
    // @include fonts(400, 12, 1.36, 0.01em);
    color: $main-fonts-color;
    @include transition();
    transition-property: color;

    &:focus,
    &:hover {
        background: transparent;
    }

    @include desktop {
        margin-right: 40px;
    }
}

.connect__button {

    @include max-tablet {
        margin-bottom: 20px;
    }
}

// sidebar
@include max-tablet {
    .nav {
        display: none;
    }

    .nav.active {
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100vh;

        background: rgba(6, 6, 6, 0.5);
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1.25rem;
        padding: 2.5rem;

        max-width: 100%;
        width: 37.5rem;

        border-radius: 25px;
        background: $bg-gradient;

        box-shadow: 0 5px 15px rgba(1, 1, 1, 0.2);
        filter: drop-shadow(0.0313rem 1px 0.0625rem rgb(14, 14, 14));
    }

    .nav__link {
        color: $main-fonts-color;
        text-shadow: 0.0313rem .5008px 0.0625rem rgb(54, 54, 54),
            -0.0313rem -0.0313rem 0.0625rem rgb(255, 255, 255);
        font-size: 19.2px;
        margin: 20px;
    }

    .header__menu-btn {
        align-self: flex-start;
        margin-left: 15px;

        width: 2.5rem;
        height: 2.5rem;

        background: url(../images/menu.png) no-repeat;
        background-size: 30px;
        background-position: center;
        filter: drop-shadow(0.0313rem 1px 0.0625rem rgb(14, 14, 14));

        cursor: pointer;
        transition: all 300ms ease-in-out;
    }

    .header__menu-btn.active {
        z-index: 50;
        background: url(../images/close.png) no-repeat;
        background-size: 1.25rem;
        background-position: center;
    }
}